<footer class="container d-flex" style="margin-top: 200px;">
    <div class="d-flex flex-column text-font-poppins text-secondary">
        <img class="mb-4" src="/assets/img/logo-doctorio-horizontal 1.png" alt="" width="180px">
        <p>500 Wellness Ave, Suite 10,<br>MedCity, NY 10001</p>
        <p>+55 (85) 0000-0000</p>
        <p>support@consultoriodoctorio.com</p>
    </div>
    <div class="row g-5 w-100 ms-5">
        <div class="col-3">
            <div class="d-flex flex-column gap-2 w-100">
                <h4>LINKS</h4>
                <a href="#">Home</a>
                <a href="#">Sobre-Nós</a>
                <a href="#">Contato</a>
                <a href="#">404</a>
            </div>
        </div>
        <div class="col-3">
            <div class="d-flex flex-column gap-2 w-100">
                <h4>EXPLORE</h4>
                <a href="#">Blog</a>
                <a href="#">Detalhes do Blog</a>
                <a href="#">Serviços</a>
                <a href="#">Detalhes dos Serviços</a>
            </div>
        </div>
        <div class="col-3">
            <div class="d-flex flex-column gap-2 w-100">
                <h4>MAIS</h4>
                <a href="#">Doutores</a>
                <a href="#">Detalhes dos doutores</a>
                <a href="#">Carreiras</a>
                <a href="#">Detalhes das carreiras</a>
            </div>
        </div>
        <div class="col-3">
            <div class="d-flex flex-column gap-2 w-100">
                <h4>CONECTE</h4>
                <a href="#">Facebook</a>
                <a href="#">Instagram</a>
                <a href="#">Twitter</a>
                <a href="#">Linkedin</a>
            </div>
        </div>
    </div>
</footer>
    <script src="assets/js/main.js"></script>
</body>
</html>