    <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm fixed-top">
        <div class="container">
            <a class="navbar-brand text-primary fw-bold" href="/index.html">
                <img src="/assets/img/logo-doctorio-horizontal 1.png" alt="" class="w-75">
            </a>
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuConsultorio">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end" id="menuConsultorio">
                <ul class="navbar-nav d-flex gap-2 me-4">
                    <li class="nav-item"><a class="nav-link" href="/index.html">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/index.html#main-services">Serviços</a></li>
                    <li class="nav-item"><a class="nav-link" href="/pages/quem-somos.html">Quem Somos</a></li>
                    <li class="nav-item"><a class="nav-link" href="/pages/contato.html">Contato</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Login</a></li>
                </ul>
                <div class="consultation-button-placeholder"></div>
            </div>
        </div>
    </nav>